version: "3.1"

services:
  postgres:
    image: postgres:12.3
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
    ports:
      - 5432:5432

  mysql:
    image: mysql:8
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
    ports:
      - 3306:3306

  mongo:
    image: mongo:4.4.4-bionic
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    ports:
      - 27017:27017

  adminer:
    image: adminer:4.8.0-standalone
    restart: always
    ports:
      - 8889:8080

  metabase:
    image: metabase/metabase:v0.38.3
    ports:
      - 3339:3000
